*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  color: #fca41e;
  background: url(./img/photo_road_039.jpg) no-repeat;
  background-size: cover;
}
.MuiPaginationItem-root {
  color: #fca41e !important;
  height: 32px;
  margin: 0 3px;
  padding: 0 6px;
  font-size: 0.875rem;
  min-width: 32px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 16px;
  letter-spacing: 0.01071em;
}
.MuiInputBase-input {
  font: inherit;
  color: rgb(252, 164, 30) !important;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing:  #fca41e !important;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.MuiFormLabel-root {
   color: rgb(252, 164, 30, 0.9) !important;
}
.form-control{
  color:rgb(252, 164, 30) !important;
}
.form-control:focus {
border-color: rgb(252, 164, 30) !important;
}
.btn-primary {
  color: #fff;
  border-color:rgb(252, 164, 30) !important;
}